.sections{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

img{
    width: 300px;
    height: 200px;

}
.text {
    width: 400px;
}

.left{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.right{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.horizontal{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}